#image {
  img {
    border-radius: 20px 20px 0px 0px;
    opacity: 0.7;
    height: 240px;
    object-fit: cover;
    object-position: 100% 0;
    box-shadow: 0px 0px 10px 2px rgb(185, 209, 208);
  }
}
#middlebar {
  background-image: linear-gradient(0deg, rgb(185, 209, 208), rgb(14, 17, 26));
}

#article {
  box-shadow: 0px 0px 10px 2px rgb(185, 209, 208);
  background-color: rgba(249, 241, 241, 0.6);
  border-color: rgba(249, 241, 241, 0.6);
  border-width: 0px 0px 0px 0px;
  border-radius: 0px 0px 20px 20px;
  .title {
    color: rgb(68, 93, 100);
  }
  .fa {
    color: rgb(69, 48, 65);
  }
  .info {
    color: rgb(91, 96, 67);
  }
  #content {
    color: rgb(75, 105, 113);
    line-height: 300%;
  }
  #comments {
    background-color: rgba(237, 247, 247, 0.5);
    color: rgb(46, 21, 21);
    .comment {
      background-color: rgba(178, 181, 90, 0.3);
      border-color: rgba(178, 181, 90, 0.3);
      border-width: 10px;
      border-radius: 20px;
      background-clip: padding-box;
      .fa {
        color: rgb(16, 25, 35);
      }
      .user {
        color: rgb(30, 47, 67);
      }
      .content {
        color: rgb(65, 102, 144);
      }
      .time {
        color: rgb(59, 60, 27);
      }
    }
  }
}
