// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

//note: place each component setting to each file, perhaps

/*all color for backup

***Blue***
(16, 28, 55)
(27, 25, 36)

***Red***
(144, 20, 49)



*/
$backgroundcolor: rgb(27, 25, 36);

$naviBC: rgb(144, 20, 49);
$naviLink: rgb(254, 237, 229);

$footerBC: rgb(40, 110, 190);

$sidebarBC: rgb(34, 31, 45);

body {
  background-color: $backgroundcolor;
}

#navigation {
  background-color: $naviBC;
  a {
    color: $naviLink;
    font-size: 125%;
  }
  order: 2;
}

#footer {
  background-color: $footerBC;
  position: relative;
  bottom: 0;
}

#sidebar {
  color: white;
  background-color: $sidebarBC;
}
