// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

// TailwindCSS
@tailwind base;

@tailwind components;

@tailwind utilities;

//note: place each component setting to each file, perhaps

/*all color for backup

***Blue***
(16, 28, 55)
(27, 25, 36)

***Red***
(144, 20, 49)



*/
$backgroundcolor: rgb(130, 130, 130);

$naviBC: transparent;
$naviLink: rgb(254, 237, 229);

$footerBC: rgb(0, 0, 0);

$sidebarBC: rgb(34, 31, 45);

body {
  //目前能查到能解決fixed導致overlapping的大部分都是加入padding
  //https://stackoverflow.com/questions/5311706/position-fixed-content-overlapping-problem
  margin-top: 130px;
  background-color: $backgroundcolor;
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

#navigation {
  color: $naviLink;
  a {
    color: $naviLink;
  }

  order: 2;
}

#footer {
  background-color: $footerBC;
}

#sidebar {
  color: white;
  background-color: $sidebarBC;
}
